.kalculator228 {
    width: 500px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    background-color: darkgray;
    border: blue 5px solid;
    padding: 20px;

}
.kalculator228 .battons-block button {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.kalculator228 .inputs-block .input-block {
    display: inline;
}

.kalculator228 .inputs-block .input-block label {
    display: block;
}