.porno-content h1 {
    color: lightseagreen;
    font-size: 170px;
    text-align: center;
}
.porno-content h2 {
    color: white;
    font-size: 42px;
    padding: 15px;
}
.porno-content li {
    cursor: pointer;
    font-size: 32px;
    padding: 10px;
    list-style-type: none;
    font-weight: 600;
}
.porno-content li a{
    display: block;
    text-decoration: none;
}
.porno-content .section-category h2 {
    background-color: lightseagreen;
}
.porno-content .section-hot h2 {
    background-color: red;
}
.porno-content .section-category li a{
    color: lightseagreen;
}
.porno-content .section-hot li a{
    color: red;
}
.porno-content li:hover a{
    color: white;
}
.porno-content .section-category li:hover{
    background-color: lightseagreen;
}
.porno-content .section-hot li:hover{
    background-color: red;
}






