.content h1 {
    color: lightseagreen;
    font-size: 170px;
    text-align: center;
}
.content h2 {
    color: white;
    font-size: 42px;
    padding: 15px;
}
.content li {
    cursor: pointer;
    font-size: 32px;
    padding: 10px;
    list-style-type: none;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgb(53, 53, 53);
    margin-bottom: 10px;
}
.content li a{
    display: block;
    text-decoration: none;
}
.content .section-category h2 {
    background-color: lightseagreen;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(53, 53, 53);
}
.content .section-hot h2 {
    background-color: #ff3131;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(53, 53, 53);
}
.content .section-category li a{
    color: lightseagreen;
}
.content .section-hot li a{
    color: #ff3131;
}
.content li:hover a{
    color: white;
}
.content .section-category li:hover{
    background-color: lightseagreen;
}
.content .section-hot li:hover{
    background-color: #ff3131;
}
ul {
    width: 300px;
}






