.div {
    font-size: 36px;
    color: blue;
    margin: 10px;
    margin-left: 25%;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

select {
    font-size: 36px;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
canvas {
    display: inline;
}

button {
    margin: 10px;
    margin-top: 50px;
    font-size: 36px;
    color: blue;
    border: blue 5px solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
label {
    margin-left: 10px;
}
.button-exit {
    color: blue;
    border: blue 5px solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 70%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.tetris-menu {
    max-width: 950px;
    margin: 0 auto;
}

.body {
    max-width: 600px;
    display: flex;
}

.canvas {
    width: 100%;
    height: 80%;
 
}