.div {
    font-size: 50px;
    color: lightseagreen;
    margin: 10px;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    display: flex;
}

select {
    font-size: 50px;
    color: lightseagreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(53, 53, 53);
    
}
canvas {
    display: inline;
}

button {
    margin: 10px;
    margin-top: 50px;
    font-size: 40px;
    color: lightseagreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
label {
    color:white;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(53, 53, 53);
}
.button-exit {
    color: lightseagreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.tetris-menu {
    max-width: 950px;
    margin: 0 auto;
}

.body {
    max-width: 600px;
    display: flex;
}

.canvas {
    width: 100%;
    height: 80%;
 
}

.tetris-menu button, .tetris-menu a {
    width: 40%;
    text-align: center;
    margin: 0px 5px;
    border-radius: 10px;
    color: white;
    background-color: lightseagreen;
    box-shadow: 0 5px 10px rgb(53, 53, 53);
}

.tetris-menu button:hover, .tetris-menu a:hover {
    color: lightseagreen;
    background-color: white;
    

}


.tetris-menu label {
    text-align: center;
    font-size: 40px;
    padding: 15px 10px;
    background-color: lightseagreen;
    height: 100%;
}

.tetris-menu  select{
    width: 10%;
    font-size: 40px;
    border-radius: 10px;
    border-width: 0px;
    margin: 10px 10px;
}


@media (min-width:710px){
    .canvas {
        width: 65%;
    }
    .div {
        width: 65%;
    }
}

@media (max-width:710px) { 
    .div label, .div select, .div button, .div a{
        font-size: 20px;
    }
    .div {
        margin-left: 0px;
    }
}

