.profileInfo {
    grid-area: Prof;
    font-size: 20px;
}

.profileInfo div {
    padding: 10px;
}

.div {
    padding: 10px;
    background-color: white;
    box-shadow: 0 2px 4px rgb(168, 168, 168);
    border-radius: 5px;
    font-size: 20px;
}

.name {
    font-size: 30px;
}