/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
/* html,body{height: 100%;margin: 0;padding: 0;min-width: $minwidth;position: relative;width: 100%; color: #000;}
body{font-size: 100%;line-height: 1;font-size: 14px;font-family: $fontfamily; -ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;
    &.lock{overflow: hidden;
        @media (max-width:$md3+px){
            width: 100%;
            position: fixed;
            overflow: hidden;
        }
    }
} */
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.header__vk{
    z-index: 3;
    color: white;
    text-align: left;
    width: fit-content;
    display: inline-block;
    margin: auto 0 auto 10px;
    
}

.games-title {
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
    color: lightseagreen;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.header__burger {
    display: none;
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  lightseagreen;
    z-index: 2;
}

.footer {
    margin-top: 130px;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1800px;
    padding: 0px 15px;
    margin: 0px auto;
}

.button {
    font-size: 40px;
    margin: 0 10px;
    color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 5px 10px rgb(53, 53, 53);
    background-color: lightseagreen;
    cursor: pointer;
}



.forecast, .today, .forecast1, .forecast2, .city-changer, .games {
    display: flex;
}

.forecast1, .forecast2, .today {
    background-color: lightseagreen;
    color: white;
    box-shadow: 0 10px 15px rgb(53, 53, 53);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 33.333%;
}

.left-today {
    width: 60%;
    margin-left: 20px;
    padding: 20px;
}

.right-today {
    text-align: center;
    width: 40%;
}

.weather3, .weather6, .weather9, .weather12, .weather15, .weather18, .weather21, .weather24   {
    text-align: center;
    width: 25%;
    height: 100%;
    font-size: 30px;

}


.temp-today, .image-today {
    font-size: 75px;
    display: block;
}

.temp-today {
    height: 30%;
    padding-top: 20px;
}

.image-today {
    height: 70%;
}

.time {
    font-size: 50px;
}

.header__list {
    display: flex;
    position: relative;
    z-index: 2;
}

.header__link {
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    margin: auto 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
}

.city-changer {
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 100px;
    align-items: center ;
}

.left-today p {
    font-size: 30px;
    margin-bottom: 30px;
}

.image1 {
     width: 100%;
}

.forecast1 p, .forecast2 p{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 20%;
    padding-top: 20%;
}

.games {
    margin-top: 1% ;
}

.header__image {
    margin-left: 30px;
    width: 80px;
    height: 80%;
    z-index: 3;
    display: flex;
}

.header__image p{
    display: none;
}

.header__image img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
}

.zmeika, .tetris {
    width: 50%;
    font-size: 70px;
    text-align: center;
    color: white;
    background-color:lightseagreen ;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgb(53, 53, 53);
}

.projects__project1, .projects__project2{
    display: inline-block;
    margin-top: 30px;
    max-width: 200px;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    color: white;
    background-color:lightseagreen ;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgb(53, 53, 53);
}

.projects__project1:hover, .projects__project2:hover{
    background-color: white;
    color: lightseagreen;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.zmeika:hover, .tetris:hover {
    background-color: white;
    color: lightseagreen;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

body.activated {
    overflow: hidden;
}

.block__text {
    text-align: center;
    padding: 20px 10px 10px 10px;
    font-size: 40px;
    color: lightseagreen;
}

.changed-city {
    background-color: white;
    color: lightseagreen;
    cursor: default;
    border-radius: 15px;

}

.header__burger.activated:before {
    transform: rotate(45deg);
    top: 15px;
}

.header__burger.activated:after {
    transform: rotate(-45deg);
    bottom: 15px;
}

.header__burger.activated span {
    transform: scale(0);
}

.header__menu.activated {
    top:0;
    transition: all 0.4s ease 0s;
    overflow: auto;
}

.header__link:hover{
    background-color: white;
    color: lightseagreen;
    transition: all 0.5s ease 0s;
}

@media (max-width:1600px){
    .left-today p{
        font-size: 25px;
    }
    .temp-today{
        font-size: 50px;
    }
}
@media (max-width:1470px){
    .left-today p{
        font-size: 20px;
    }
    .header__link {
        font-size: 25px;
    }
}
@media (max-width:1222px){


    .button {
        font-size: 30px;
    }
    .today .left-today .time {
        font-size: 30px;
    }

    .today .left-today p {
        font-size: 15px;
    }
    .today .right-today .temp-today {
        font-size: 35px;
    }
    .header__link {
        font-size: 20px;
    }

}
@media (max-width:992px){
    .container {
        padding: 0 0;
    }

    .button {
        font-size: 20px;
    }

    .forecast {
        display: inline;
    }

    .today .right-today .temp-today {
        font-size: 90px;
    }
    
    .today .left-today p, .today .left-today .time {
        font-size: 50px;
    }
    
    .forecast1, .forecast2, .today{
        width: 98%;
        margin: 20px 10px;
    }
    .forecast1, .forecast2 p {
        font-size: 30px;
    }
    .header__link {
        font-size: 16px;
    }
}


@media (max-width:830px){
    .today .left-today p, .today .left-today .time {
        font-size: 35px;
    }
    .zmeika, .tetris{
        font-size: 50px;
        margin: 10px 10px;
    }
    .header__link {
        font-size: 14px;
    }
}

@media (max-width:767px){
    .button {
        font-size: 15px;
        padding: 10px 2px;
    }
    .today .right-today .temp-today {
        font-size: 70px;
    }
    .forecast1, .forecast2, .today{
        width: 97%;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 50px;
        height: 35px;
        position: relative;
        z-index: 3;
        margin-right: 30px;
    }   
    .header__burger:before, .header__burger:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 5px;
        border-radius: 2px;
        left: 0;
        transition: all 0.4s ease 0s;
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom: 0;
    }
    .header__burger span {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 5px;
        top: 15px;
        border-radius: 2px;
        transition: all 0.4s ease 0s;
    }
    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: lightseagreen;
        color: white;
        padding: 130px 0px 0px 0px;
    }


    .header__list {
        display: block;
    }
    .header__link {
        font-size: 30px;
    }

    .header__list li {
        margin: 15px;
    }
    .block__text {
        font-size: 20px;
    }

    .header__image{
        width: 80%;
    }
    .header__image p{
        display: block;
        color: white;
        font-size: 38px;
        margin-left: 25px ;
        margin-top: 18px;
        text-transform: uppercase;
    }
}


@media (max-width:610px){
    .today .right-today .temp-today {
        font-size: 50px;
    }
    .today .left-today p, .today .left-today .time {
        font-size: 25px;
    }
    .header__image p{
        font-size: 29px;
        margin-left: 15px;
        margin-top: 22px;
    }
}

@media (max-width: 500px){
    .forecast1, .forecast2, .today{
        width: 96%;
    }

    .today .left-today p {
        font-size: 18px;
    }
    .header__image p{
        font-size: 13px;
        margin-left: 10px;
        margin-top: 30px;
    }
}   

@media (max-width: 400px){
    .zmeika, .tetris{
        font-size: 44px;
    }
    .header__link {
        font-size: 25px;
    }
    .forecast1 img, .forecast2 img {
        width: 80px;
        height: 80px;
    }
    .forecast1 p, .forecast2 p{
        font-size: 25px;
    }

}