.normaly {
    border: green 5px solid;
    text-align: center;
    font-size: 36px;
    border-radius: 10px;
}

.div {
    text-align: center;
}
.errorInput {
    margin: 5px;
    border-radius: 20px;
    border: red 20px solid;
    font-size: 72px;
    text-align: center;
    color: red;
}
.error {
    margin-bottom: 10%;
}
.button-exit {
    border: lightseagreen 5px solid;
    text-align: center;
    display: inline;
    padding: 1%;
    text-decoration: none;
    color:  black;
    font-size: 70%;
}
.exit {
    text-align: center;
}
.img {
    margin-top: 5%;
    text-align: center;
}

img {
    width: 750px;
    height: 500px;
}
.hidden-img {
    display: none;
}
.display-img {
    display: inline;
}
.title {
    margin-top: 5%;
    font-size: 72px;
    text-align: center;
    color: red;
}
.babai {
    margin: 20px;
    text-align: center;
    font-size: 36px;
    color: red;
}