.normaly {
    border: green 5px solid;
    text-align: center;
    font-size: 36px;
}

.div {
    text-align: center;
}
.errorInput {
    border: red 5px solid;
    font-size: 36px;
    text-align: center;
}
.error {
    margin-bottom: 10%;
}
.button-exit {
    border: lightseagreen 5px solid;
    text-align: center;
    display: inline;
    padding: 1%;
    text-decoration: none;
    color:  black;
    font-size: 70%;
}
.exit {
    text-align: center;
}